.square {
    font-size: 2rem;
    height: 48px;
    width: 48px;
    text-align: center;
    border: 2px solid lightblue;
    background: none;
    cursor: pointer;
    place-items: center;
}
.green-correct {
    background-color: #528d4e;
}

.yellow-almost {
    background-color: #b49f39;
}

.grey-wrong {
    background-color: #3a393c;
}