.letter {
    background-color: grey;
    padding: 0.8em;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .letter {
        padding: 0.4em;
    }
}
.green-correct {
    background-color: #528d4e !important;
}

.yellow-almost {
    background-color: #b49f39 !important;
}

.grey-wrong {
    background-color: #3a393c !important;
}