.row {
    display: flex;
    justify-content: center;
}
.letter-box {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin: 0.25em;
    border-radius: 4px;
    cursor: pointer;
}
.letter-box-special {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin: 0.25em;
    border-radius: 4px;
    cursor: pointer;
    background-color: grey;
    padding: 0 0.2em;
    line-height: 2.5em;
}
@media only screen and (max-width: 600px) {
    .letter-box-special {
        margin: 0;
        padding: 0;
    }
}